.note {
  button {
    background-color: red;
    color: white;
  }

  .noteItem {
    @include material-shadow;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;

    margin: 0.1rem;
    margin-top: 0.5rem;
    max-width: 7rem;
    min-height: 5rem;
    max-height: 10rem;
    padding: 0.5rem;
    @include material-shadow;
    user-select: none;
    zoom: 0.2;

    cursor: pointer;

    a {
      color: $accent-color;
      text-decoration: inherit;

      &:hover {
        border-bottom: 1px solid $accent-color;
      }
    }

    blockquote {
      margin: 0;
      padding: 0.75em;
      border-left: 2px solid $accent-color;
      background: $light-accent-color;
      p {
        margin: 0;
      }
    }

    code {
      display: block;
      padding: 0.75em;
      background: $black;
      color: white;
    }
  }
}
