.note {
  button {
    background-color: red;
    color: white;
  }

  .noteItem {
    @include span-columns(12);
    @include material-shadow;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    margin: 1em;
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    user-select: none;
    zoom: 0.2;
    background: white;
    cursor: pointer;

    a {
      color: $accent-color;
      text-decoration: inherit;

      &:hover {
        border-bottom: 1px solid $accent-color;
      }
    }

    blockquote {
      margin: 0;
      padding: 0.75em;
      border-left: 2px solid $accent-color;
      background: $light-accent-color;
      p {
        margin: 0;
      }
    }

    code {
      display: block;
      padding: 0.75em;
      background: $black;
      color: white;
    }
  }
}
