@mixin no-style-button() {
  background: Transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin material-input {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid $mischka;
  width: 100%;
  font-size: 1.2rem;
  font-weight: $font-weight-regular;
  padding: 0.4rem;
  margin: 0;
  outline: 0;
  height: 2.5em;

  &:hover {
    border: 1px solid $primary-color-dark;
    background: $bridal-heath;
    color: $black;
  }
}

@mixin button {
  text-indent: 0px;
}

@mixin button-large {
  @include button;
  font-size: 1.3rem;
  line-height: 1.5rem;
  height: 2em;
  padding: 0 1.2em;
}

@mixin button-small {
  @include button;
  font-size: 0.8rem;
  line-height: 1rem;
  height: 1.5em;
  padding: 0 0.7em;
}

@mixin button-rounded {
  border-radius: 3px;
}

@mixin button-flat {
  background: $athens-gray;
  border: none;
  text-shadow: none;
}

@mixin button-material {
  @include button-large;
  @include button-rounded;
  @include button-flat;

  cursor: pointer;
  -webkit-appearance: none;
  color: $gray;
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);

  &:hover {
    background: $alabaster;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
      0 3px 6px rgba(0, 0, 0, .23);
  }
}

@mixin button-small-material {
  @include button-material;
  @include button-small;
}
