@mixin ul-sidebar($bg, $text, $bg-hover, $text-hover) {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background: $bg;
}

@mixin ul-navbar($bg, $text, $bg-hover, $text-hover) {
  @include ul-sidebar($bg, $text, $bg-hover, $text-hover);
  @extend .row;

  li {
    @extend .col-3;
  }
}

@mixin ul-row-color($first, $second) {

}
