.editor {
  @include span-columns(9);

  .editor-viewer {
    @include span-columns(12);
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid $mischka;

    @media screen and (max-width: 570px) {
      padding: .5em;
    }
  }

  textarea {
    @include span-columns(12);
    @media screen and (max-width: 570px) {
      @include span-columns(10.5);
    }

    height: 20rem;
    border: none;
    font-size: $base-font-size;
    font-family: $base-font-family;
    color: $black;
    &:focus {
      outline: none;
    }
  }
}

.editor-submit {
  @include span-columns(3 of 9);
  button {
    @include button-material;
  }
}

.preview {
  @include span-columns(9 of 9);
  margin-top: 1em;
  padding: 1em 0;
  border-top: 1px solid $mischka;
  border-bottom: 1px solid $mischka;
}
